# Compilation environment
build

# User Configuration
*.user

# VSCode Format
.vscode

# thirdpart
include/*
!include/pugixml
!include/spdlog
!include/google
!include/IPlugin.hpp
!include/ThreadPool.hpp
!include/TSingleton.hpp
!include/Library.hpp
